<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="d-flex justify-content-between">
    <form action="/1">
        <button type="submit" class="grass" syle="content-align:center" class="text-center">grass</button>
    </form>
    <form action="/2">
        <button type="submit" class="fire" syle="content-align:center" class="text-center">fire</button>
    </form>
    <form action="/3">
        <button type="submit" class="water" syle="content-align:center" class="text-center">water</button>
    </form>
    <form action="/4">
        <button type="submit" class="electric" syle="content-align:center" class="text-center">electric</button>
    </form>
    <form action="/5">
        <button type="submit" class="ice" syle="content-align:center" class="text-center">ice</button>
    </form>
    <form action="/6">
        <button type="submit" class="ground" syle="content-align:center" class="text-center">ground</button>
    </form>
    <form action="/7">
        <button type="submit" class="flying" syle="content-align:center" class="text-center">flying</button>
    </form>
    <form action="/8">
        <button type="submit" class="bug" syle="content-align:center" class="text-center">bug</button>
    </form>
    <form action="/9">
        <button type="submit" class="normal" syle="content-align:center" class="text-center">normal</button>
    </form>
    <form action="/10">
        <button type="submit" class="ghost" syle="content-align:center" class="text-center">ghost</button>
    </form>
    <form action="/11">
        <button type="submit" class="rock" syle="content-align:center" class="text-center">rock</button>
    </form>
    <form action="/12">
        <button type="submit" class="fighting" syle="content-align:center" class="text-center">fighting</button>
    </form>
    <form action="/13">
        <button type="submit" class="poison" syle="content-align:center" class="text-center">poison</button>
    </form>
    <form action="/14">
        <button type="submit" class="psychic" syle="content-align:center" class="text-center">psychic</button>
    </form>
    <form action="/15">
        <button type="submit" class="dragon" syle="content-align:center" class="text-center">dragon</button>
    </form>
    <form action="/16">
        <button type="submit" class="dark" syle="content-align:center" class="text-center">dark</button>
    </form>
    <form action="/17">
        <button type="submit" class="steel" syle="content-align:center" class="text-center">steel</button>
    </form>
    <form action="/18">
        <button type="submit" class="fairy" syle="content-align:center" class="text-center">fairy</button>
    </form>
</div>
</body>
</html>